@using GrouveStreet.Database.ContextDb
@model List<Orderr>
@{
    Layout = "_Layout";
    var orderServices = (List<Orderservice>)ViewBag.OrderServices;
    var services = (List<Service>)ViewBag.Services;
    var statuses = (List<Status>)ViewBag.Statuses;
}
@if (ViewBag.result != null)
{
    <div class="box">
        @ViewBag.result
    </div>
    <br/>
}
@foreach (var order in Model)
{
    <div class="box">
        <form method="post" action="/Account/ChangeOrderStatusWorker">
            <input type="hidden" value="@order.Orderid" name="orderId" />
            <table class="table">

                <tbody>
                    <tr>
                        <td>Номер заказа</td>
                        <td>@order.Orderid</td>
                    </tr>
                    <tr>
                        <td>Тип работы</td>
                        <td>
                            @for (int i = 0; i < orderServices.Where(x => x.IdOrder == order.Orderid).ToList().Count; i++)
                            {
                                <span>@(i+1).@orderServices.Where(x => x.IdOrder == order.Orderid).ToList()[i].IdServiceNavigation.Name</span><br />
                            }
                        </td>
                    </tr>
                    <tr>
                        <td> Статус работы</td>
                        <td>
                            <select type="text" name="status">
                                @foreach (var status in statuses)
                                {
                                    if (order.Status == status.Id)
                                    {
                                        <option value="@status.Id" selected>@status.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@status.Id">@status.Name</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Марка авто</td>
                        <td>@order.Mark</td>
                    </tr>
                    @{
                        var cost = 0;
                        foreach (var service in orderServices.Where(x => x.IdOrder == order.Orderid))
                        {
                            cost += (int)service.IdServiceNavigation.Cost.Value;
                        }
                    }
                    <tr>
                        <td>Cтоимость заказа</td>
                        <td>@cost руб.</td>
                    </tr>
                </tbody>
            </table>
            <button>Изменить статус</button>
        </form>
    </div>
    <br />
}