@model GrouveStreet.Database.ContextDb.User
@using GrouveStreet.Database.ContextDb
@{
    Layout = "_Layout";
    var roles = (List<Role>)ViewBag.Roles;
    var workers = (List<User>)ViewBag.Workers;
}
Мои данные
<div class="box">
    <form method="post" action="/LK/ChangeUserData">
        @if (ViewBag.error != null)
        {
            <span>@ViewBag.error</span>
        }
        <table class="table">
            <tbody>
                <tr>
                    <td>Имя</td>
                    <td><input type="text" value="@Model.Name" name="name" /></td>
                </tr>
                <tr>
                    <td>Фамилия</td>
                    <td><input type="text" value="@Model.Familia" name="surname" /></td>
                </tr>
                <tr>
                    <td>Отчество</td>
                    <td><input type="text" value="@Model.Patronomyc" name="patronymic" /></td>
                </tr>
                <tr>
                    <td>Номер телефона</td>
                    <td><input type="number" value="@Model.Phone" name="phone" /></td>
                </tr>
                <tr>
                    <td>Логин</td>
                    <td><input type="text" value="@Model.Login" name="login" /></td>
                </tr>
                <tr>
                    <td>Пароль</td>
                    <td><input type="text" value="@Model.Password" name="password" /></td>
                </tr>
                <tr>
                    <td>Должность</td>
                    <td>Менеджер</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button>Сохранить изменения</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
Добавление сотрудника
<div class="box">
    <form method="post" action="/LK/AddWorker">
        @if (ViewBag.errorAdd != null)
        {
            <span>@ViewBag.errorAdd</span>
        }
        <table class="table">
            <tbody>
                <tr>
                    <td>Имя</td>
                    <td><input type="text" name="name" /></td>
                </tr>
                <tr>
                    <td>Фамилия</td>
                    <td><input type="text" name="surname" /></td>
                </tr>
                <tr>
                    <td>Отчество</td>
                    <td><input type="text" name="patronymic" /></td>
                </tr>
                <tr>
                    <td>Номер телефона</td>
                    <td><input type="number"  name="phone" /></td>
                </tr>
                <tr>
                    <td>Логин</td>
                    <td><input type="text" name="login" /></td>
                </tr>
                <tr>
                    <td>Пароль</td>
                    <td><input type="text" name="password" /></td>
                </tr>
                <tr>
                    <td>Должность</td>
                    <td><select name="role">
                            @foreach(var role in roles) 
                            { 
                                <option value="@role.Id">@role.Namerole</option>
                            }
                        </select></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button>Добавить сотрудника</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
Удалить сотрудника
<div class="box">
    <form method="post" action="/LK/WorkerRemove">
        @if(ViewBag.result!=null)
            {
                <span>@ViewBag.result</span>
            }
        <table class="table">
            <tbody>
                <tr>
                    <td>Выберите сотрудника</td>
                    <td>
                        <select name="workerId">
                            <option selected disabled>Табельный номер|ФИО</option>
                            @foreach (var worker in workers)
                            {
                                <option value="@worker.Id">@worker.Id.ToString("d7")|@worker.Familia @worker.Name @worker.Patronomyc</option>
                            }
                        </select>
                    </td>
                    <td><button class="btn-danger">Удалить</button></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>